button {
  display: block;
  background-image: linear-gradient(to right, $main, $sub);
  padding: vw(6) vw(18);
  border-radius: vw(15);
  background-size: 200% 100%;
  transition: background-position 0.5s ease-out;
  background-position: right bottom;
  &:hover {
    background-position: left bottom;
  }
  a {
    color: $background;
    font-family: "Pretendard-Regular";
    font-weight: 500;
    font-size: vw(16);
  }
  &:hover a {
    color: $font;
    transition: color 1s ease-out;
  }
}
