//컬러변수 정의
//달러표시+컬러명
//사용방법
//css파일에서 $로 사용
$main: #94b0b3;
$sub: #819fae;
$sube5: #819faed2;
$font: #212121;
$background: #ffffff;
$background6b: #0000006b;
$backgroundad: #000000ad;
$input: #aaaaaa;
$silver: #aca9bb;
$highlight: #5f50f0;
$primary: #0077ff;
$dark: #000;
